destination: &dest syn12177492
staging_path: ./staging
gx_folder: syn52948668
gx_table: syn60527066
sources:
  - genes_biodomains:
    genes_biodomains_files: &genes_biodomains_files
      - name: genes_biodomains
        id: syn44151254.5
        format: csv
    genes_biodomains_provenance: &genes_biodomains_provenance
      - syn44151254.5
  - overall_scores:
    overall_scores_files: &overall_scores_files
      - name: overall_scores
        id: syn25575156.13
        format: table
    overall_scores_provenance: &overall_scores_provenance
      - syn25575156.13
  - agora_proteomics:
    agora_proteomics_files: &agora_proteomics_files
      - name: proteomics
        id: syn18689335.4
        format: csv
    agora_proteomics_provenance: &agora_proteomics_provenance
      - syn18689335.4
  - agora_proteomics_tmt:
    agora_proteomics_tmt_files: &agora_proteomics_tmt_files
      - name: proteomics_tmt
        id: syn35221005.2
        format: csv
    agora_proteomics_tmt_provenance: &agora_proteomics_tmt_provenance
      - syn35221005.2
  - agora_proteomics_srm:
    agora_proteomics_srm_files: &agora_proteomics_srm_files
      - name: proteomics_srm
        id: syn52579640.4
        format: csv
    agora_proteomics_srm_provenance: &agora_proteomics_srm_provenance
      - syn52579640.4
  - rna_diff_expr_data:
    rna_diff_expr_data_files: &rna_diff_expr_data_files
      - name: diff_exp_data
        id: syn27211942.1
        format: tsv
    rna_diff_expr_data_provenance: &rna_diff_expr_data_provenance
      - syn27211942.1
datasets:
  - biodomain_info:
      files: *genes_biodomains_files
      final_format: json
      custom_transformations: 1
      provenance: *genes_biodomains_provenance
      column_rename:
        biodomain: name
      destination: *dest
      gx_enabled: true

  - genes_biodomains:
      files: *genes_biodomains_files
      final_format: json
      custom_transformations: 1
      provenance: *genes_biodomains_provenance
      column_rename:
        ensembl_id: ensembl_gene_id
        goterm_name: go_terms
      destination: *dest
      gx_enabled: true
      gx_nested_columns:
        - gene_biodomains

  - neuropath_corr:
      files:
        - name: neuropath_regression_results
          id: syn22017882.5
          format: csv
      final_format: json
      provenance:
        - syn22017882.5
      column_rename:
        ensg: ensembl_gene_id
        gname: hgnc_gene_id
      agora_rename:
        ensembl_gene_id: ensg
        hgnc_gene_id: gname
      destination: *dest
      gx_enabled: true

  - proteomics:
      files: *agora_proteomics_files
      final_format: json
      custom_transformations: 1
      provenance: *agora_proteomics_provenance
      column_rename:
        genename: hgnc_symbol
        ensg: ensembl_gene_id
      destination: *dest
      gx_enabled: true

  - proteomics_tmt:
      files: *agora_proteomics_tmt_files
      final_format: json
      custom_transformations: 1
      provenance: *agora_proteomics_tmt_provenance
      column_rename:
        genename: hgnc_symbol
        ensg: ensembl_gene_id
      destination: *dest
      gx_enabled: true

  - proteomics_srm:
      files: *agora_proteomics_srm_files
      final_format: json
      custom_transformations: 1
      provenance: *agora_proteomics_srm_provenance
      column_rename:
        genename: hgnc_symbol
        ensg: ensembl_gene_id
      destination: *dest
      gx_enabled: true

  - target_exp_validation_harmonized:
      files:
        - name: target_exp_validation_harmonized
          id: syn24184512.9
          format: csv
      final_format: json
      provenance:
        - syn24184512.9
      destination: *dest
      gx_enabled: true

  - metabolomics:
      files:
        - name: metabolomics
          id: syn26064497.1
          format: feather
      final_format: json
      provenance:
        - syn26064497.1
      destination: *dest
      gx_enabled: true

  - gene_info:
      files:
        - name: gene_metadata
          id: syn25953363.13
          format: feather
        - name: igap
          id: syn12514826.5
          format: csv
        - name: eqtl
          id: syn12514912.3
          format: csv
        - <<: *agora_proteomics_files
        - <<: *agora_proteomics_tmt_files
        - <<: *agora_proteomics_srm_files
        - <<: *rna_diff_expr_data_files
        - name: target_list
          id: syn12540368.49
          format: csv
        - name: median_expression
          id: syn27211878.2
          format: csv
        - name: druggability
          id: syn13363443.11
          format: csv
        - <<: *genes_biodomains_files
        - name: tep_adi_info
          id: syn51942280.3
          format: csv
      final_format: json
      custom_transformations:
        adjusted_p_value_threshold: 0.05
        protein_level_threshold: 0.05
      column_rename:
        ensg: ensembl_gene_id
        ensembl_id: ensembl_gene_id
        geneid: ensembl_gene_id
        has_eqtl: is_eqtl
        minimumlogcpm: min
        quartile1logcpm: first_quartile
        medianlogcpm: median
        meanlogcpm: mean
        quartile3logcpm: third_quartile
        maximumlogcpm: max
        possible_replacement: ensembl_possible_replacements
        permalink: ensembl_permalink
      provenance:
        - syn25953363.13
        - syn12514826.5
        - syn12514912.3
        - *agora_proteomics_provenance
        - *agora_proteomics_tmt_provenance
        - *agora_proteomics_srm_provenance
        - *rna_diff_expr_data_provenance
        - syn12540368.49
        - syn27211878.2
        - syn13363443.11
        - *genes_biodomains_provenance
        - syn51942280.3
      agora_rename:
        symbol: hgnc_symbol
      destination: *dest
      gx_enabled: true
      gx_nested_columns:
        - target_nominations
        - median_expression
        - druggability
        - ensembl_info

  - team_info:
      files:
        - name: team_info
          id: syn12615624.18
          format: csv
        - name: team_member_info
          id: syn12615633.18
          format: csv
      final_format: json
      custom_transformations: 1
      provenance:
        - syn12615624.18
        - syn12615633.18
      destination: *dest
      gx_enabled: true
      gx_nested_columns:
        - members

  - overall_scores:
      files: *overall_scores_files
      final_format: json
      custom_transformations: 1
      column_rename:
        genename: hgnc_gene_id
      provenance: *overall_scores_provenance
      agora_rename:
        ensg: ensembl_gene_id
        hgnc_gene_id: hgnc_symbol
        geneticsscore: genetics_score
        overall: target_risk_score
        omicsscore: multi_omics_score
      destination: *dest
      gx_enabled: true

  - network:
      files:
        - name: networks
          id: syn11685347.1
          format: csv
      final_format: json
      provenance:
        - syn11685347.1
        - syn27211942.1
      agora_rename:
        genea_ensembl_gene_id: geneA_ensembl_gene_id
        genea_external_gene_name: geneA_external_gene_name
        geneb_ensembl_gene_id: geneB_ensembl_gene_id
        geneb_external_gene_name: geneB_external_gene_name
        brainregion: brainRegion
      destination: *dest
      gx_enabled: true

  - rnaseq_differential_expression:
      files: *rna_diff_expr_data_files
      final_format: json
      custom_transformations: 1
      provenance: *rna_diff_expr_data_provenance
      destination: *dest
      gx_enabled: true

  - distribution_data:
      files: *overall_scores_files
      final_format: json
      custom_transformations:
        overall_max_score: 5
        genetics_max_score: 3
        omics_max_score: 2
      provenance: *overall_scores_provenance
      column_rename:
        overall: target_risk_score
        geneticsscore: genetics_score
        omicsscore: multi_omics_score
      destination: *dest
      gx_enabled: true
      gx_nested_columns:
        - target_risk_score
        - genetics_score
        - multi_omics_score

  - rna_distribution_data:
      files: *rna_diff_expr_data_files
      final_format: json
      custom_transformations: 1
      provenance: *rna_diff_expr_data_provenance
      destination: *dest
      gx_enabled: true

  - proteomics_distribution_data:
      files:
        - <<: *agora_proteomics_files
        - <<: *agora_proteomics_tmt_files
        - <<: *agora_proteomics_srm_files
      final_format: json
      custom_transformations: 1
      provenance:
        - *agora_proteomics_provenance
        - *agora_proteomics_tmt_provenance
        - *agora_proteomics_srm_provenance
      destination: *dest
      gx_enabled: true
