[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agoradatatools = {editable = true, path = "."}
jupyter-server = ">=2.20.0, <3.0.0"

[dev-packages]
agoradatatools = {editable = true, extras = ["dev"], path = "."}

[requires]
python_version = "3.10.17"

[pipenv]
allow_prereleases = true
